*{
margin-left: 20px;   
  
}

.header{
    justify-content: space-between;
}
.navbar a{
   font-size: large;
   margin-left: 25px;
   display: inline-block;
   
}
.align-left {
    float: left;
}
.margin-left {
    margin-right: 100 px;
}
.align-right {padding: 15px;
    float: right;
}
.nav-img {
    max-width: 50px;
}
.main{
    width: 100px;
     display: flex; 
     padding-top: 200px;
     margin-left:400px;
     background:white;
     border-radius: 20px;
}
.emailtxt{
    margin-bottom: 10px;
}
.txt1{
    margin-bottom: 10px;
}
h3{
    margin-top: 50px;

}



.Aboutme {
    width: 300px;
    padding: 100px;
}

.Aboutme p{
    font-size: 25px;
    /* font-weight: 200px; */
}

.name{
    font-size: 3em;
    line-height: 10px;
}
.name1{
    font-size: 3em;
    line-height: 100px;
}
button{
    /* color: rgb(251,158,41); */
    background-color: rgb(251,158,41);
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.imagediv .Photo{
    padding: 50px;
    position: absolute;
    right: 4rem;    
}



.About{
    width: 100%;
    height: 400px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    gap: 20rem;
}
/* .Aboutme{
    /* border: 1px solid saddlebrown; */



.downloadcv{
 padding: 80px;
 width: 800px;
 height: 250px;
 /* border: 2px solid red; */
 display: flex;
 justify-content: space-between;
}

.Services{
    width: 300px;
    height: 250px;
    /* border: 2px solid black; */
}

.cv{
    font-size: 2em;
    line-height: 5px;
}

/* .design{
margin-left: 500px;

  
  box-shadow: 10px 10px rgb(220,234,243);
  width: 200px;
} */

.box1{
    width: 200px;
    height: 200px;
    align-items: center;
    /* border: 2px solid aqua; */
    box-shadow: 0px 1px 2px 0px rgb(231, 55, 231),
    1px 2px 4px 0px rgb(186, 11, 186),
    2px 4px 8px 0px rgb(250, 248, 250),
    2px 4px 16px 0px rgb(248, 247, 248);
}

.box1 .ap{
    align-items: center;
}

.LEARN{
    background-color: rgb(237, 232, 226);
    border-radius: 10px;
    color: blue;
    margin: 20px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 15px;
}

.box2{
    width: 200px;
    height: 200px;
    /* border: 2px solid aqua; */
    box-shadow: 0px 1px 2px 0px rgb(250, 249, 250),
    1px 2px 4px 0px rgb(248, 247, 248),
    2px 4px 8px 0px rgb(250, 248, 250),
    2px 4px 16px 0px rgb(248, 247, 248);
}

.box3{
    width: 200px;
    height: 200px;
    /* border: 2px solid aqua; */
    box-shadow: 0px 1px 2px 0px rgb(250, 249, 250),
    1px 2px 4px 0px rgb(248, 247, 248),
    2px 4px 8px 0px rgb(250, 248, 250),
    2px 4px 16px 0px rgb(248, 247, 248);
}
.developer{
    /* border: 2px solid yellow; */
    display: flex;
 padding-left: 30px;
    width: 500px;
    height: 300px;
    margin-left: 15rem;
    position: relative;

}
#ui-ux{
    position:absolute;
    right: 30px;
    top: 10px;
}

.emoji1{
    position: absolute;
    
}    

.star1{
    position: absolute;
    /* right: 18rem;  */
    right: 8rem;
    top: 30rem;
}
.star2{
    position: relative;
    right: 8rem;
    top: 20rem;
}
.star3{
    position: relative;
    right: 28rem;
    bottom: 7rem;
    
}

.heart{
    position: relative;
    left:8rem;
    top: 8rem;
}
/* .align-rightmargin-left{
    color: rgb(251,160,38);
} */
.boxemoji{
    position: absolute;
    right: 30rem;
    top: 45rem;

}
.socialmedia{
    width: 300px;
    padding: 100px;
    display: flex;
    bottom: 2rem;    
}
.glassemoji{
position: relative;
left: 30px;
 
}


/* body {
    margin: 0;
    padding: 0;
    background-color: #000;
    padding-bottom: 100px;
  } */
  
  #contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  } 